nav {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #181818;
}

nav a {
    margin-right: 12px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #8bc34a;
}

nav span {
    float: right;
}

nav button {
    background-color: #8bc34a;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
}